.navivigation-titled-pane{
    -fx-animated: true;
    -fx-text-fill: derive( -fx-text-base-color, 50%);
    -fx-font-size: 0.9em;
    -fx-font-weight: bold;
    -fx-padding: 0;
}

.navivigation-titled-pane .content{
    -fx-background-color: null;
    -fx-border-insets: -1;
}

.navivigation-titled-pane .title{
    -fx-padding: 0 0 0 5;
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.navivigation-titled-pane .title .arrow-button{
    visibility: hidden; 
    -fx-padding: 0;
}

.navivigation-titled-pane .title .arrow-button .arrow{
    visibility: hidden;
    -fx-padding: 0;
}


.navivigation-titled-pane-toggle-label{
    -fx-text-fill: derive( -fx-text-base-color, 70%);
    -fx-font-size: 0.8em;
    -fx-font-weight: bold;
}