.indicator {
    -fx-skin: "de.jensd.shichimifx.control.skin.IndicatorSkin";
    -pass-color: yellowgreen;
    -fail-color: gray;
    -indetermined-color: yellow;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.6) , 12, 0.0 , 0 , 0 );
    -fx-background-color: radial-gradient(center 50% 100%, radius 120%,  -indetermined-color 35%, derive(-indetermined-color, -15%) 50%);
    -fx-background-radius: 1024;
    -fx-shape: "M 100 100 a 50 50 0 1 0 0.00001 0";
}

.indicator:pass {
    -fx-background-color: radial-gradient(center 50% 100%, radius 120%,  -pass-color 35%, derive(-pass-color, -15%) 50%);
}

.indicator:indetermined {
    -fx-background-color: radial-gradient(center 50% 100%, radius 120%,  -indetermined-color 35%, derive(-indetermined-color, -15%) 50%);
}

.indicator:fail {
    -fx-background-color: radial-gradient(center 50% 100%, radius 120%,  -fail-color 35%, derive(-fail-color, -15%) 50%);
}

